* {
    margin: 0;
    padding: 0;
    font-family: Arial, Sans-serif;
}

#header, .title, #main-content, .page-buttons{
    max-width: 1100px;
    margin: 0 auto;
}

#header {
    display: flex;
}
.pos{
    position: fixed;
}

#logo{
    display: flex;
    margin: 10px 0;
    cursor: pointer;
}

#logo img {
    width: 30px;
    height: 30px;
    padding-right: 10px;
}

#logo p {
    padding-top: 3px;
    font-size: large;
    color: #858b97;
}

#nav-links {
    margin-left: auto;
}

#nav-links ul {
    display: flex;
    list-style: none;
    margin: 15px 0;
}

#nav-links ul li{
    padding-right: 20px;
}
#nav-links ul li:last-child{
    padding-right: 0;
}

#nav-links ul li a{
    text-decoration: none;
    color: #858b97;
    padding-right: 5px;
    padding-left: 5px;
}
.is-active{
    border-bottom: 2px solid red;
    padding-bottom: 5px;
}
#nav-links ul li a:hover{
    border-bottom: 2px solid red;
    padding-bottom: 5px;
}

#musthead {
    background-image: url("./Img/hero.jpg");
    background-size: 100% 100%;
    height: 350px;
}

.musthead-search{
    display: flex;
    justify-content: center;
}

.musthead-search input, button {
    margin-top: 140px;
}

.musthead-search button{
    cursor: pointer;
}

.musthead-search input{
    border: 0;
    padding: 10px;
    width: 250px;
}

::placeholder{
    color: lightseagreen;
}

.musthead-search button{
    border: 0;
    width: 70px;
    color: white;
    background-color: lightseagreen;
}

#main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    display: flex;
    margin-top: 40px;
    margin-bottom: 20px;
    color: lightseagreen;
}

.title p {
    margin-left: auto;
    font-size: 12px;
}

.title p span {
    border: 1px solid rgb(220, 220, 220);
    background-color: lightgray;
    padding: 5px;
}

.container-1{
    display: flex;
    justify-content: space-between;
}
.container-2{
    display: flex;
    justify-content: space-between;
}
.container-3{
    display: flex;
    justify-content: space-between;
}
.container-4{
    display: flex;
    justify-content: space-between;
}

.images img{
    width: 260px;
    height: 150px;
}

#main-content .images {
    margin-bottom: 20px;
    cursor: pointer;
}

#main-content .images span {
    font-size: 11px;
    color: lightgray;
}


#main-content .images span.space {
    padding-right: 120px;
}

.page-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.page-buttons input{
    cursor: pointer;
    padding: 10px 15px 10px 15px;
    color: white;
    background-color: lightseagreen;
    border: 0;
    border-radius: 3px;
}

.page-buttons .numbers input {
    background-color: lightgray;
}

.page-buttons .numbers input[id="1"] {
    background-color: lightseagreen;
}

.page-buttons .numbers input[type="submit"]:hover {
    background-color: lightseagreen
}

#footer {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(211, 211, 211, 0.288);
}

#footer .main-footer {
    width: 600px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    
}

#footer h3 {
    color: lightseagreen;
    margin-bottom: 25px;
}

#footer p{ 
    color: lightgray;
    padding-bottom: 5px;
    font-size: 12px;
}

#footer .main-footer .about-catalog span{
    color: lightgray;
    font-size: 12px;
    padding-bottom: 5px;
}

#footer .main-footer .other-links p{
    cursor: pointer;
}


#footer .main-footer .about-catalog {
    width: 270px;
}

#footer .main-footer .links .social-links {
    font-size: 30px;
}

#footer .main-footer .links .social-links a {
    color: gray;
    margin-right: 10px;
}

#footer .main-footer .links .social-links a:last-child {
    margin-right: 0;
}

#footer .main-footer .links .social-links a:hover {
    color: #525252;
}

.links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#footer .copyright{
    width: 600px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 20px;
}

